*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: Josefin Sans;
    font-size: 18px;
    background-color: #3674B5;
    color: #D1F8EF;
    padding: 0 7px;
}

header nav{
    height: 2.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    cursor: pointer;
    transition: all .4s linear;
}

nav h1 a{
    text-decoration: none;
    color: #D1F8EF;
}
nav ul li{
    display: inline-block;
    margin-left: .6rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #D1F8EF;
}

nav h1:hover{
    background-color: black;
    border: 2px solid #D1F8EF;
    padding: 7px 10px 3px 10px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #D1F8EF;
}

nav ul li:hover{
    background-color: black;
    border: 2px solid #D1F8EF;
    padding: 7px 10px 3px 10px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #D1F8EF;
}

.container{
    height: 95vh;
    width: 100%;
    position: relative;
}
.image-cont{
    height: 80%;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.image-cont img{
    height: 100%;
    width: 100%;
    background-position: cover;
}

.text-cont{
    margin-top: 2rem;
    line-height: 2rem;
}